<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile border-bottom">
            <a href="#" class="nav-link flex-column">
                <div class="nav-profile-image">
                    <img src="/images/avatar.jpg" alt="profile">
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex ms-0 mb-3 flex-column">
                    <span class="fw-semibold mb-1 mt-2 text-center">Mohamed Abd Elhamed</span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cp">
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
            <a class="nav-link" href="/instructore">
                <i class="fa fa-users menu-icon"></i>
                <span class="menu-title">Instructores</span>
            </a>
            <a class="nav-link" href="/course">
                <i class="fa fa-book menu-icon"></i>
                <span class="menu-title">Courses</span>
            </a>
            <a class="nav-link" href="/trainee">
                <i class="fa fa-address-card-o menu-icon"></i>
                <span class="menu-title">Trainee</span>
            </a>
        </li>

    </ul>
</nav>