@model CreateInstructoreViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "_CPLayout";
    SelectList departments = new SelectList(Model.Departments , "Id" ,"Name");
}


<div class="page-header">
    <h3 class="page-title"> Create Instructore </h3>
    <a href="/instructore" class="btn btn-primary">Instructors</a>
</div>

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">  
        <div class="card-body">
            <form asp-controller="Instructore" asp-action="Store" class="forms-sample" method="post" enctype="multipart/form-data">
             
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Name"  class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Salary" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="number" asp-for="Salary" class="form-control">
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Address" class="col-sm-3 col-form-label">Address </label>
                    <div class="col-sm-9">
                        <input asp-for="Address" class="form-control">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="FormFile" class="col-sm-3 col-form-label"> </label>
                    <div class="col-sm-9">
                        <input type="file" asp-for="FormFile" class="form-control">
                        <span asp-validation-for="FormFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="DepartmentId" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="DepartmentId" id="DepartmentId" asp-items="departments" class="form-select">
                            <option value="0"> -- Select Department -- </option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    @* <label asp-for="CourseId" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="CourseId" asp-items="departments" class="form-select">
                            <option value="0"> -- Select Course -- </option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div> *@

                    <label for="CourseId" class="col-sm-3 col-form-label">Course</label>
                    <div class="col-sm-9">
                        <select id="CourseId" name="CourseId" class="form-select">
                            <option value="0"> -- Select Course -- </option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#DepartmentId').change(function () {
        let deptID = this.value;
        let courseSelectBox = document.getElementById("CourseId")
        courseSelectBox.innerHTML = "";
            $.ajax({
            url: "/Instructore/GetCourses?deptID=" + deptID,
                success: function (result) {
                    for (let item of result) {
                        courseSelectBox.innerHTML += "<option value=" + item.id + ">" + item.name + "</option>";
                    }
                }
            });
    });

</script>