@model MVC.Requests.CreateCourseRequest

@{
    ViewData["Title"] = "Create";
    SelectList Depts = new SelectList(@Model.departments , "Id" ,  "Name");

}


<h4>CourseActionViewModel</h4>
<a class="btn btn-primary mt-4" href="/course">Courses</a>

<form asp-action="Create" class="mt-4" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"  />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Degree" class="control-label"></label>
        <input type="number" asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="MinDegree" class="control-label"></label>
        <input type="number" asp-for="MinDegree" class="form-control"   />
        <span asp-validation-for="MinDegree" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Hours" class="control-label"></label>
        <input type="number" asp-for="Hours" class="form-control" />
        <span asp-validation-for="Hours" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DepartmentId" class="control-label"></label>
        <select asp-for="DepartmentId" class="form form-control" asp-items="Depts">
            <option value="0" >-- select department --</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>  

    <div class="form-group ">
        <input type="submit" value="Create" class="btn btn-primary mt-3" />
    </div>
</form> 



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
